<mat-card>

<mat-form-field  class="example-full-width">
    <input style="widows: 350px;" matInput placeholder="First Name">
  </mat-form-field>

  <mat-form-field  class="example-full-width">
    <input style="widows: 350px;" matInput placeholder="Name">
  </mat-form-field>
  
  <mat-form-field  class="example-full-width">
    <input style="widows: 350px;" type="email" matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field  class="example-full-width">
    <input style="widows: 350px;" type="password" matInput placeholder="Password">
  </mat-form-field>

  <mat-form-field  class="example-full-width">
    <input style="widows: 350px;" type="password" matInput placeholder="Confirm Password">
  </mat-form-field>

</mat-card>